/* tudo aquilo que estamos customizando colocamos aqui em custom.css*/

body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neve", Helvetica, Arial, sans-serif;
}

/* tabview */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
	color: #555;
}

@media (max-width: 640px){
	.ui-tabs.ui-tabs-top > .ui-tabs-nav li{
		width: 100%;
	}
}

/* panelGrid */ 
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

@media (max-width: 640px){
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row{
		border: none; /* tirando a border para quando os elementos empilharem */
	}
}


