/* cabecalho */
.topbar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-height: 50px;
	z-index: 9999;
	
	background-color: #5CB85C;
	
	font-size: 30px; 
	/* aumenta o tamanho do fa fa-bars */
}

/*.topbar > img {
	margin-top: 10px;
	margin-left: 5px;
}*/


/* barra lateral menu (sidebar) */
.sidebar{
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 210px;
	margin-left: -211px;
	z-index: 9998;
	transition: margin-left 0.5s;
	overflow-y: auto;
	
	background-color: #f6f6f6;
	border-right: 1px solid #eaeaea;
}

.sidebar.is-toggle{
	margin-left: 0px;	
}
	
	@media (min-width: 960px){
		.sidebar{
			margin-left: 0px;
		}
		
		.sidebar.is-toggle{
			margin-left: -211px;	
		}
}

/* conteudo */
.content{
	padding: 0 15px;
	margin-top: 50px;
	transition: margin-left 0.5s; /* pra acompanhar a transação do menu*/
}

@media (min-width: 960px){
	.content{
		margin-left: 210px; /* quando o menu aparecer o conteudo tera que ter uma margin a esq    */
	}
	
	.content.is-toggle{
		margin-left: 0;
	}
}





















